.env
Zantio/src/__pycache__
Zantio/src/adapters/__pycache__
Zantio/src/RESTclients/__pycache__
Zantio/.idea/workspace.xml
Zantio/.idea/misc.xml
Zantio/src/output
Zantio/src/reconcilliation/__pycache__
Zantio/src/122408.pdf
Zantio/src/122785.pdf
Zantio/src/RESTclients/Uniconta/__pycache__/uniconta.cpython-314.pyc
*__pycache__*
*.csv
Zantio/src/reconcilliation/output/reconciliation_summary.json
*.iml
